 @font-face {
     font-family: 'Roboto';
     src: url('../fonts/Roboto-Regular.ttf');
 }

 .root {
 	/* Swatch Colors */
 	-swatch-100: #BBDEFB;
 	-swatch-200: #90CAF9;
 	-swatch-300: #64BEF6;
 	-swatch-400: #42A5F5;
 	-swatch-500: #2196F3;

    -swatch-grey: rgb(200.0, 200.0, 200.0);
    -swatch-dark-grey: rgb(150.0, 150.0, 150.0);
    -swatch-light-grey: rgb(230.0, 230.0, 230.0);

 	/*default text */
 	-fx-text-base-color: rgb(100.0, 100.0, 100.0);
 	-fx-text-button-normal: -swatch-500;
 	-fx-text-button-colored: rgb(255.0, 255.0, 255.0);
 	-fx-text-button-text: rgb(100.0, 100.0, 100.0);
 	-fx-text-title-color: rgb(45.0, 45.0, 45.0);
 	-fx-text-subtitle-color: rgb(65.0, 65.0, 65.0);
 	-fx-text-control-title-color: rgb(130.0, 130.0, 130.0);
 	-fx-text-fill: -fx-text-base-color;

 	-dark: rgb(47.0, 52.0, 57.0);
 	-fx-background-color: -dark;

 	/*default font */
 	-fx-font-family: 'Roboto Regular';
 	-fx-font-size: 13.0px;
 	-fx-disabled-opacity: 0.6;

 	-swatch-toolbar: rgb(245.0, 245.0, 245.0);
    	-swatch-toolbar-selected: rgb(215.0, 215.0, 215.0);
 }

/* - Top menu
-----------------------------------*/
.menu-bar {
    -fx-background-color: #1976D2;
}
.menu-bar .menu:hover {
    -fx-background-color: #2196F3;
}
.menu-bar .menu .label {
    -fx-text-fill: #212121;
}
.menu-close-button {
    -fx-background-radius: 0, 0, 0, 0;
    -fx-background-color: #1976D2;
    -fx-text-fill: white;
    -fx-background-insets: 0;
}
.menu-close-button:hover {
    -fx-background-color: #2196F3;
}
.menu-toggle-button {
    -fx-background-radius: 0, 0, 0, 0;
    -fx-border: none;
    -fx-background-color: #1976D2;
    -fx-text-fill: white;
}
.menu-toggle-button:selected {
    -fx-background-color: #383838;
    -fx-text-fill: white;
}

/* - Left side menu
-----------------------------------*/
.vertical-menu {
    -fx-background-color: #2196F3;
}
.vertical-menu .button {
    -fx-background-color: #2196F3;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-text-fill: white;
    -fx-border: none;
}
.vertical-menu .button:hover {
    -fx-background-color: #03A9F4;
}
.vertical-menu .accordion {
    -fx-base: #0288D1;
    -fx-background-color: #0288D1;
    -fx-border: none;
    -fx-text-fill: white;
}
.titled-pane .content VBox {
    -fx-padding: 10px;
}
.table-view .column-header .label {
    -fx-text-fill: #383838;
    -fx-font-weight: bold;
}
.table-view .column-header {
    -fx-background-color: #B3E5FC;
   /* -fx-border-width: 0 1 0 0  ;
    -fx-border-color: #212121;*/
}
/*******************************************************************************
 *                                                                             *
 * Label                                                                       *
 *                                                                             *
 ******************************************************************************/
.label {
	-fx-text-fill: -fx-text-base-color;
}

.label:disabled {
	-fx-opacity: -fx-disabled-opacity;
}

.label:show-mnemonics>.mnemonic-underline {
	-fx-stroke: -fx-text-base-color;
}
/*******************************************************************************
 *                                                                             *
 * Scroll Bar			                                                       *
 *                                                                             *
 ******************************************************************************/
.scroll-bar:vertical>.track-background, .scroll-bar:horizontal>.track-background
	{
	-fx-background-color: -swatch-light-grey;
	-fx-background-insets: 0.0;
}

.scroll-bar:vertical>.thumb, .scroll-bar:horizontal>.thumb {
	-fx-background-color: -swatch-grey;
	-fx-background-insets: 0.0;
	-fx-background-radius: 3.0;
}

.scroll-bar>.increment-button, .scroll-bar>.decrement-button,
	.scroll-bar:hover>.increment-button, .scroll-bar:hover>.decrement-button
	{
	-fx-background-color: transparent;
}

.scroll-bar>.increment-button>.increment-arrow, .scroll-bar>.decrement-button>.decrement-arrow
	{
	-fx-background-color: -swatch-dark-grey;
}

.scroll-bar>.track-background {
	-fx-background-color: transparent;
}
/*******************************************************************************
 *                                                                             *
 * Separators		                   	                                       *
 *                                                                             *
 ******************************************************************************/
.separator {
	-fx-padding: 16 -16 16 -16;
}
/*******************************************************************************
*                                                                              *
* Text, Text field & Text area                                                 *
*                                                                              *
*******************************************************************************/
.text {
	-fx-font-smoothing-type: gray;
}

.text-area, .text-field {
	-fx-background-color: transparent;
	-fx-background-radius: 2.0;
	-fx-padding: 5 0 5 5;
	-fx-border-color: -swatch-grey;
	-fx-border-width: 0 0 2 0;
	-fx-prompt-text-fill: derive(-dark, 50.0%);
	-fx-highlight-fill: rgb(94.0, 203.0, 234.0);
}

.text-area .text, .text-field>*>.text {
	-fx-effect: null;
	-fx-fill: -dark;
}

.text-area {
	-fx-padding: 0.15em;
}

.text-area .content {
	-fx-padding: 0.7em;
	-fx-border-width: 0.0;
	-fx-background-color: transparent;
}

.text-area:focused  .content {
	-fx-background-color: transparent;
}

.text-area:focused, .text-field:focused {
	-fx-border-color: -swatch-500;
}
 /*******************************************************************************
 *                                                                              *
 *   button & Toggle button                                                     *
 *                                                                              *
 *******************************************************************************/
.btn-raised {
    -fx-text-fill: -fx-text-button-normal;
	-fx-font-family: 'Roboto';
	-fx-font-weight: bold;
	-fx-background-insets: 0.0;
	-fx-background-radius: 3.0;

	-fx-alignment: CENTER;
	-fx-effect: dropshadow(gaussian, rgb(0.0, 0.0, 0.0, 0.30), 6.0, 0.3, 0,1);
	-fx-background-color: rgb(250, 250, 250);
}
.btn-raised .text {
	-fx-text-weight: Bold;
}
.btn-raised:default {
	-fx-background-color: -swatch-500;
	-fx-text-fill: -fx-text-button-colored;
}
.btn-raised:focused {
	-fx-background-color: -swatch-light-grey;
}
.btn-raised:armed
	{
	-fx-background-color: -swatch-grey;
	-fx-text-fill: -fx-text-button-colored;
}
/*******************************************************************************
*                                                                              *
*   ComboBox                                                                   *
*                                                                              *
*******************************************************************************/
  .popup-overlay {
  	-fx-background-color: white;
  	-fx-border-color: -swatch-grey;
  	-fx-border-width: 0 0 2 0;
  	-fx-background-radius: 0;
  	-fx-border-radius: 0;
  }

  .title-bar {
  	-fx-padding: 10;
  }

  .title-bar .icon {
  	-fx-alignment: center-left;
  	-fx-effect: dropshadow(gaussian, rgb(0.0, 0.0, 0.0, 0.2), 0.0, 0.0, 0.0,
  		1.0);
  }

  .title-bar .title-label {
  	-fx-padding: 0 10 0 10;
  	-fx-alignment: center;
  	-fx-font-size: 36;
  	-fx-font-weight: bolder;
  }

  .content-area {
  	-fx-background-color: -dark;
  }

  .content-background {
  	-fx-background-color: white;
  	-fx-background-radius: 0.0 0.0 11.0 11.0;
  	-fx-padding: 0 10 10 10;
  }
 /*******************************************************************************
  *                                                                             *
  * ComboBox, ChoiceBox COMMON                                                  *
  *                                                                             *
  ******************************************************************************/
 .combo-box-base, .choice-box {
 	-fx-background-color: transparent;
 	-fx-border-color: -swatch-grey;
 	-fx-border-width: 0 0 2 0;
 	-fx-background-radius: 0;
 	-fx-border-radius: 0;
 }

 .combo-box:focused, .choice-box:focused {
 	-fx-border-color: -swatch-500;
 }

 .combo-box-base>.label, .choice-box>.label {
 	-fx-padding: 0.7em 0.7em 0.7em 0em;
 }

 .combo-box-base>.arrow-button, .choice-box>.open-button {

 	-fx-background-radius: 0.0 2.0 2.0 0.0;
 }

 .combo-box-base>.arrow-button>.arrow, .choice-box>.open-button>.arrow {
 	-fx-background-color: -swatch-grey;
 }

 .combo-box-base .arrow-button:hover .arrow, .spinner .increment-arrow-button:hover .increment-arrow,
 	.spinner .decrement-arrow-button:hover .decrement-arrow {
 	-fx-background-color: -swatch-dark-grey;
 }

 .menu-item:focused {
 	-fx-background-color: -swatch-light-grey;
 }

/******************************************************************************
*                                                                             *
* Split pane                                                                  *
*                                                                             *
******************************************************************************/
.split-pane{
    -fx-padding: 0px;
}
.split-pane *.split-pane-divider {
    -fx-padding: 0 0 0 0;
}

.masker-pane .masker-glass {
    -fx-background-color: rgba(0, 0, 0, .5);
}

.masker-pane .masker-text {
    -fx-text-fill: white;
    -fx-font-size: 15.0px;
}
/* table */
.centered-table .table-column {
  -fx-alignment: center;
}